{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>RUC</th>
        <th>Razón Social</th>
        <th>Estado SUNAT</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/data',
        columns: [
          {data: 'ruc', orderable: false, searchable: false},
          {data: 'business_name', orderable: false, searchable: false},
          {data: 'sunat_state', orderable: false, searchable: false}
        ],
      });
    });
  </script>
{% endblock %}
