{% extends "base.html" %}

{% block content %}
<h1 class="text-center text-dark mb-4">LISTADO DE EMPRESAS</h1>
<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>RUC</th>
            <th>Razón social</th>
            <th>Estado en la SUNAT</th>
            <th>Fecha de creación</th>
            <th>Fecha de actualización</th>
        </tr>
    </thead>
    <tbody>
        {% for company in companies %}
        <tr>
            <td>{{ company.ruc }}</td>
            <td>{{ company.name }}</td>
            <td>{{ 'ACTIVO' if company.sunat_status else 'INACTIVO' }}</td>
            <td>{{ company.created_at }}</td>
            <td>{{ company.updated_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            columns: [
                { orderable: true, searchable: true },
                { orderable: true, searchable: true },
                { orderable: true, searchable: true },
                { orderable: true, searchable: false },
                { orderable: true, searchable: false }
            ],
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
        });
    });
</script>
{% endblock %}